.section-1 {
  height: calc(100vh + 180px);

  background-color: $grayColor;
  padding-left: 0;
  padding-right: 0;

  display: grid;
  grid-template-columns: repeat($gridCount, 1fr);
  grid-column-gap: 20px;


  .greetings-container,
  .product-slider-container {
    grid-column: span 8;
    padding-top: 60px;
  }
}

.greetings-container {
  background-color: $orangeColor;
  color: $whiteColor;
  margin-right: -10px;

  .greetings-bg {
    // @include bgImageEl("../images/animals-bg.svg");

    padding-bottom: 95%;
    text-align: center;
    position: relative;
  }

  .greetings-img {
    @include bgImageEl("../images/logo-front.png", 80%);
    @include positionElement(50%, 100%, 25%, 0);
  }

  .greetings-text {

    margin: 0 auto;
    text-align: center;

    h2,
    h3 {
      color: inherit;
    }

    h2 {
      // font-size: $hugeize;

      text-transform: uppercase;
      margin: 0;
      font-size: calc(12px + (64 - 12) * ((100vw - 320px) / (1920 - 320)));
    }

    h3 {
      // font-size: $largeSize;
      margin-bottom: 20px;
      font-size: calc(12px + (34 - 12) * ((100vw - 320px) / (1920 - 320)));
    }
  }
}

.quote-container {
  width: 60%;
  position: relative;
  padding-top: 10px;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0 auto 30px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 14px;
    height: 10px;

  }

  &::before {
    left: 0;
    @include bgImageEl("../images/icons/quotes-left.svg");
  }

  &::after {
    right: 0;
    @include bgImageEl("../images/icons/quotes-right.svg");
  }
}

.person-container {
  text-align: center;

  img {
    width: 60px;
    height: 60px;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    margin: 0 0 10px;
  }

  h3 {
    font-size: $standartSize;
    color: inherit;
  }
}


.product-slider-container {
  margin-left: -10px;
  width: calc(100% + 10px);
  background-color: $greenColor;
  @include bgImageEl("../images/product-bg.svg", cover);

  .slider-owl {
    height: 83%;
  }

  .product-slider-item {
    height: 100%;
    position: relative;
  }

  img {

    @include positionElement(70%, auto, 9px, 48%);
    transform: translateY(-50%);
  }

  // .product-slider-info {
  //   background-color: $whiteColor;
  //   border-radius: 10px;
  //   width: 44.8%;
  //   padding: 38px 38px 19px;

  //   font-size: $standartSizePlus;

  //   position: relative;
  //   left: 49%;
  //   top: 35.5%;

  //   h2 {
  //     @include changeFontSize($mediaMediumSize);
  //     margin: 0 0 20px;
  //   }


  //   .product-info-price {
  //     color: $orangeColor;
  //     @include changeFontSize($mediaMediumSize);
  //     display: flex;
  //     align-items: center;
  //   }

  //   .product-info-body {
  //     margin: 27px 0 0;
  //     display: flex;
  //     justify-content: space-between;
  //     width: calc(100% + 60px);
  //   }
  // }
}


.scroll-down {
  @include positionElement(80px, 80px, 50%, 20%, left, bottom, 2);
  @include bgImageEl("../images/controls/down.svg", 12px);
  background-color: $whiteColor;
  border-radius: 100%;
  margin-left: -40px;
  cursor: pointer;
}