.reviews-control
  h3 Оцените качество:
  .stars-container
    span
      each val in ["","","","","",]
        i
    b 4.8
  .grade-container
    span Ваша оценка:
    i 4
  .btn-container
    a.btn.orange-border(href="#") Оставить отзыв