.card-detail-top
  .main-grid
    .card-detail-slider 
      .card-slider-container.card-slider-owl.owl-carousel
          each val in ["","","","",""]
            .card-slider-item
              img(src="../images/temp/product-1.png", alt="")
    .card-detail-info 
      h3 Anushka
      h4 Sophie Wilkins (2020)
      .card-info-body
        .card-characteristics
          .characteristics-line
            b Материал:
            span Цифровая живопись
          .characteristics-line
            b Уровень сложности:
            span Лёгкий уровень
          .characteristics-line
            b Время сборк:
            span 1-3 часа
          .characteristics-line
            b Количество деталей:
            span 115
          .characteristics-line
            b Размер картины:
            span 230 х 250
          .characteristics-line
            b Артикул:
            span 7-63-17-130
        .characteristics-right
          // reviews-control
          include reviews-control.pug
          // reviews-control
          .card-reviews-img
            img(src="../images/berd.svg", alt="")
            h4 Бесплатная
              br
              |доставка
      .card-buy-container
        .card-buy-inner
          .card-pricet 5 100 р.
          .card-price_old 6 200 р.
          .card-hint Быстрая покупка
          .btn-container
            a(href="#").btn.btn-buy-orange
              span В корзину
              i
  .ragged-stub.white-2