/*-----defaul-----*/


/*-----defaul-----*/


/*-----btns-----*/

/*-----btns-----*/

/*-----forms-----*/

/*-----forms-----*/

/*-----popup-form-----*/


/*-----popup-form-----*/

/*-----header-----*/


/*-----header-----*/

/*-----footer-----*/


/*-----footer-----*/

/*-----mobile-menu-----*/


/*-----mobile-menu-----*/

/*-----slider-owl-----*/


/*-----slider-owl-----*/


/*-----map-----*/

/*-----map-----*/

/*--------------------main-page-start----*/

/*--section-1--*/
/*--section-1--*/

/*--section-2--*/
/*--section-2--*/

/*--section-3--*/
/*--section-3--*/

/*--section-4--*/
/*--section-4--*/

/*--section-5--*/
/*--section-5--*/

/*--------------------main-page-end----*/
/*--------------------card-page-start----*/

/*--main-start--*/
/*--main-end--*/

/*--recommendations-start--*/
.card-info {
  display: block;
}

.card-info .info-item:nth-child(2),
.card-info .info-item {
  margin: 0 0 15px;
}

/*--recommendations-end--*/

/*--promotion-start--*/
/*--promotion-end--*/

/*--reviews-start--*/
/*--reviews-end--*/

/*--------------------card-page-end----*/

.information-basket-list {
  .card-info {
    display: flex;
  }

  .card-info .info-item:nth-child(2) {
    margin: 0 5px;
  }
}