.card-detail-info {
  grid-column: 9 / span 8;
}

.recommendations-item {

  .recommendations-price,
  .recommendations-price_old {
    display: inline-block;
  }

  .recommendations-buy-container {
    display: block;
  }

  .btn-container {
    text-align: right;

  }

  .recommendations-info {
    display: block;
  }
}

/*-----defaul-----*/


/*-----defaul-----*/


/*-----btns-----*/

/*-----btns-----*/

/*-----forms-----*/

/*-----forms-----*/

/*-----popup-form-----*/


/*-----popup-form-----*/

/*-----header-----*/


/*-----header-----*/

/*-----footer-----*/


/*-----footer-----*/

/*-----mobile-menu-----*/


/*-----mobile-menu-----*/

/*-----slider-owl-----*/


/*-----slider-owl-----*/


/*-----map-----*/

/*-----map-----*/

/*--------------------main-page-start----*/

/*--section-1--*/
/*--section-1--*/

/*--section-2--*/
/*--section-2--*/

/*--section-3--*/
/*--section-3--*/

/*--section-4--*/
/*--section-4--*/

/*--section-5--*/
/*--section-5--*/

/*--------------------main-page-end----*/
/*--------------------card-page-start----*/

/*--main-start--*/
/*--main-end--*/

/*--recommendations-start--*/
.card-info .info-item-inner em {
  font-size: 14px;
}

/*--recommendations-end--*/

/*--promotion-start--*/
/*--promotion-end--*/

/*--reviews-start--*/
/*--reviews-end--*/

/*--------------------card-page-end----*/

.basket-results-container .basket-results-total {
  font-size: 32px;
}