$blackColor: #1C1C1C;

$grayColor: #646464;

$whiteColor: #ffffff;

$redColor: #f25368;

$orangeColor: #E88328;

$greenColor: #00707F;

$blueColor: #5b89b1;

$yellowColor: #D4AF93;

$violetColor: #3B1C47;

$grayColorSecond: #DCDCDC;