.basket-results
  .basket-results-container
    h2 Ваша корзина
    .basket-line
      span Товары (3)
      .basket-line-price 39 792 р.
    .basket-line
      span Скидка
      .basket-line-price 5 508 р.
    .basket-sale-img
    .basket-line.basket-results-total
      span Итого
      span 34 284 р.
    .btn-container
      a.btn.orange-btn.full(href="#")  Перейти к оформлению
  .basket-results-hint
    .hint-cell. 
      Для бесплатной доставки 
      вам необходимо купить товаров еще
      на 3600 р.
    .hint-cell.
      Чтобы получить 10% скидку 
      вам осталось купить товаров 
      на 7 500 р.
  
  .btn-container
    a.btn.orange-border(href="#")  Продолжить покупки 