.basket-list
  each val in ["","",""]
    .basket-list-item
      .information-basket-list
        .num-basket-list  01
        h3 Пазл Anushka со всеми деталями из дерева ручной работы
        .card-info
          .info-item.info-level 
            .info-item-inner
              each val in ["","","","","",]
                i
            span Уровень 
          .info-item
            .info-item-inner 
              em 930 х 1250
            span Размер картины
          .info-item
            .info-item-inner 
              em 1 576
            span Детали 
      .img-basket-list
        img(src="../images/temp/product-1.png", alt="")
      .toolbar-basket-list
        .price-basket-list 13 264 р.
        .price_old-basket-list 15 100 р.
        a(href="#").delete-basket-list
          span Удалить
          i
        .count-basket-list
          h4 Количество:
          .plus-count
          .current-count 1
          .minus-count