section.section-4.about-section
  .main-grid
    h2 О наших пазлах
  .main-grid 
    .section-text Мы очень старались, чтобы наши пазлы в домах повсюду приносили радость от сборки и хранились как нечто важное и драгоценное.
    .about-item.about-item-1
      h3 Отвлекитесь
      p Joodle позволит вам отвлечься от повседневной рутины и войти всостояние расслабленной сосредоточенности.
      h3 Лучший подарок
      p Для тех, кого сложно удивить. Ваш внутренний ребенок точно останется доволен!
      h3 Природные материалы
      p Запах деталей из природного материала погрузит вас в атмосферу лесной тиши.
    .about-item.about-item-2
      h3 Кто мы
      p Пазлы JOODLE – это незабываемый тактильный и эстетический опыт, арт-терапия для вас
        br
        | или вашего ребенка.
      p Удивительные картины и их истории будут оживать прямо в ваших руках. Вы погрузитесь  в приятный процесс релаксации, пока будете перебирать детальки и искать их причудливые сочетания. Приятный запах древесины будет сопровождать вас во время сборки пазла. А работа с креативными картинами погрузит в состояние творческого вдохновения! Каждая деталь изготовлена из плотного и тщательно обработанного дерева толщиной в 6 мм. 
      h3 О деревянных пазлах
      p JOODLE наполнит ваше пространство творчеством и раскроет созидательный потенциал каждого, кто решится его собрать! Творчество – это путь к личностному росту и изменениям. Мы сопроводим вас в этом процессе, создавая неповторимое арт-пространство прямо у вас дома.
      p В процессе сборки разных частей создается единая картина. И она всегда будет большим, чем сумма ее деталей. Вы удивитесь, насколько сложным и увлекательным может быть процесс соединения в единую историю тех образов, которые мы бережно положили в коробку.
      p Процесс создания единого образа из частей заинтересует как вас, так и вашего ребенка, и позволит ему окунуться в настоящее приключение, не выходя из дома. 

