section.section-1
  .greetings-container
    .greetings-bg
      .greetings-img
    //- .greetings-text 
    //-   h2 Каждая деталь
    //-   h3 Это целая вселенная смыслов
    //-   .quote-container Это был прекрасный подарок! С удовольствием провела время за сборкой, получив по итогу настоящее произведение искуссства.
    //- .person-container
    //-   img(src="../images/temp/person-1.jpg", alt="")
    //-   h3 Анна Журавлева
  .product-slider-container
    .slider-owl.owl-carousel
      each val in ["","",""]
        .product-slider-item
          img(src="../images/temp/product-1.png", alt="")
          //- .product-slider-info
          //-   h2 Название пазла
          //-   div 222 детали, Средний уровень
          //-   .product-info-body
          //-     .product-info-price 5 100 р.
          //-     a(href="#").btn.btn-buy-orange
          //-       span В корзину
          //-       i
  .ragged-stub
  .scroll-down 