html
	body
		// head start
		include default/head.pug 
		// head end
 
		// header start
		include default/header.pug
		// header end
		.basket-page
			.stub
			.basket-end
				img(src="../images/basket-end.svg", alt="")
				h2 Ваш заказ получен!
				h3 В ближайшее время наш менеджер свяжется с Вами
		// footer stub
		.footer-stub.green
			.ragged-stub.black
		// footer stub
		
		// footer start
		include default/footer.pug
		// footer end  