doctype html
html
	body
		.index
		// head
		include default/head.pug 
		// head

		// header 
		include default/header.pug
		// header

		// main-page start

		// section-1 start
		include main-page/section-1.pug
		// section-1 end

		// section-2 start
		include main-page/section-2.pug
		// section-2 end

		// section-3 start
		include main-page/section-3.pug
		// section-3 end

		// section-4 start
		include main-page/section-4.pug
		// section-4 end

		// section-5 start
		include main-page/section-5.pug
		// section-5 end
		
		// main-page end

		// footer
		include default/footer.pug
		// footer