section.section-recommendations
  h2 С этим товаром покупают
  .recommendations-container
    .recommendations-item
      h3 Девушка с длинными волосами 
      .recommendations-img
        img(src="../images/product-1.png", alt="")
      .recommendations-grade
        span 5
        i
      .recommendations-buy-container
        .recommendations-price 5 100 р.
        .recommendations-price_old 5 100 р.
        a(href="#").btn.btn-buy-orange
          span В корзину
          i
      .recommendations-info
        .info-item.info-level 
          div
            each val in ["","","","","",]
              i
          span Уровень 
        .info-item
          div 930 х 1250
          span Размер картины
        .info-item
          div 1 576
          span Детали 