.basket-results
  .basket-results-container
    h2 Ваш заказ
    .basket-line
      span 1. Пазл Anushka со всеми деревянными деталями ручной работы
      .basket-line-price 39 792 р.
    .basket-line
      span 2. Пазл Anushka
      .basket-line-price 39 792 р.
    .basket-line
      span 3. Пазл Anushk
      .basket-line-price  - 5 508 р.
    .basket-line-stub
    .basket-line
      span Товары (3)
      .basket-line-price 39 792 р.
    .basket-line
      span Скидка
      .basket-line-price.large 5 508 р.
    .basket-line
      span Доставка
      .basket-line-price 300 р./Бесплатная
    .basket-line.basket-results-total
      span Итого
      span 34 284 р.
  
  .btn-container
    a.btn.orange-border(href="#")  Редактировать заказ