input.btn,
.btn {
  text-decoration: none;
  border: 1px solid;
  border-color: $blackColor;
  padding: 15px 15px 16px;
  background: none;
  font: inherit;
  display: inline-block;
  color: inherit;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  font-size: $standartSizePlus;

  &.full {
    width: 100%;
  }

  &.large {
    width: 208px;
  }

  &.huge {
    font-size: $mediumSize;
    font-family: "semibold";
  }

  &:hover {
    background: $blackColor;
    color: $whiteColor;
  }


  &.blue-btn {
    background-color: $blueColor;
    border-color: $blueColor;
    color: $whiteColor;

    &:hover {
      background-color: $whiteColor;
      border-color: $blueColor;
      color: $blueColor;
    }

  }

  &.white-btn {
    background-color: $whiteColor;
    border-color: $whiteColor;
    color: $orangeColor;

    &:hover {
      background-color: $orangeColor;
      border-color: $orangeColor;
      color: $whiteColor;
    }
  }

  &.orange-border {
    border-color: $orangeColor;

    &:hover {
      background-color: $orangeColor;
      color: $whiteColor;
    }
  }

  &.orange-btn {
    background-color: $orangeColor;
    border-color: $orangeColor;
    color: $whiteColor;

    &:hover {
      background-color: $whiteColor;
      border-color: $orangeColor;
      color: $orangeColor;
    }
  }

  &.orange-border {
    border-color: $orangeColor;

    &:hover {
      background-color: $orangeColor;
      color: $whiteColor;
    }
  }

  &.white-border {
    border-color: $whiteColor;

    &:hover {
      background-color: $whiteColor;
      color: $orangeColor;
    }
  }
}

.btn-buy-orange {
  background-color: $orangeColor;
  border-color: $orangeColor;
  color: $whiteColor;

  i {
    @include icoEl(25px, 20px, "../images/icons/basket.svg");
    margin-left: 10px;
  }

  &:hover {
    background-color: $whiteColor;
    border-color: $orangeColor;
    color: $orangeColor;

    i {
      background-image: url("../images/icons/basket-orange.svg");
    }
  }
}

.btn-buy-white {
  background-color: $whiteColor;
  border-color: $whiteColor;
  color: $blueColor;

  i {
    @include icoEl(25px, 20px, "../images/icons/basket-blue.svg");
    margin-left: 10px;
  }

  &:hover {
    background-color: $orangeColor;
    border-color: $orangeColor;
    color: $whiteColor;

    i {
      background-image: url("../images/icons/basket.svg");
    }
  }
}


.link-more {
  // font-size: $standartSizePlus;
  @include changeFontSize($mediaStandartSizePlus);
  text-decoration: none;
  color: $grayColor;

  span,
  i {
    vertical-align: middle;
  }

  i {
    @include icoEl(60px, 60px, "../images/controls/next.svg", middle, 40px);
    background-color: $whiteColor;
    border-radius: 100%;
    margin-left: 9px;
  }

  &.orange {

    i {
      border: 1px solid $orangeColor;
      background-image: url("../images/controls/next-orange.svg");
    }
  }
}

.delete-basket-list {
  cursor: pointer;
  text-decoration: none;

  span {
    vertical-align: middle;
    margin-right: 15px;
  }

  i {
    @include icoEl(30px, 30px, "../images/controls/delete.svg");

  }
}


/*pagination page start*/

.pagination-page {
  grid-column: span 16;
  text-align: center;
  margin: 0 0 45px;
  position: relative;
  z-index: 2;

  a {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: $orangeColor;
    color: $whiteColor;
    text-align: center;
    text-decoration: none;
    line-height: 27px;
    border: 1px solid $orangeColor;
    vertical-align: middle;
    margin: 0 15px;

    &:hover {
      color: $orangeColor;
      background-color: $whiteColor;
    }
  }



  .prev-page {
    @include icoEl(45px, 45px, "../images/controls/prev.svg");
  }

  .next-page {
    @include icoEl(45px, 45px, "../images/controls/next.svg");
  }

  .prev-page,
  .next-page,
  .dotted {
    background-color: initial;
    color: inherit;
    border: 0;
  }

  .prev-page,
  .next-page {
    margin: 0 70px;
  }
}

/*pagination page end*/