@font-face {
	font-family: "regular";
	src: url("../fonts/NeueAlteGrotesk-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "medium";
	src: url("../fonts/NeueAlteGrotesk-Medium.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "semibold";
	src: url("../fonts/NeueAlteGrotesk-SemiBold.ttf");
	font-weight: normal;
	font-style: normal;
}